html {
	background-color: white;
	margin: 0;
	padding: 0;
	width: 100vw;
	/*overflow: hidden;  */
	font-family: 'IBM Plex Mono', monospace;
	font-size: clamp(5px, 0.9vw, 500px);
	color: black;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
	width: 100vw;
	/*overflow: hidden;  */
	color: black;
}


#side_menu {
/* 	border: solid red 1px; */
	box-sizing: border-box;
	position: fixed;
	/* left: 0; */
	height: 100vh;
	width: 20vw;
	/* padding-top: 15vh; */
	/* padding-right: 2vw; */
	/* text-align: right; */
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;
}

#side_menu_content {
/* 	border: solid green 1px; */
}

#name_title {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 4rem;
}

#category_selector div {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2.6rem;
}

#category_selector {
}

.section_choice {
	text-decoration: none
}

.section_choice:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* content section */

section {
	--padding: 5rem;

/* 	border: solid green 4px; */
	box-sizing: border-box;
	width: 100vw;
/* 	height: 100vh; */
	padding: var(--padding);
	padding-left: calc(20vw + var(--padding));
	
	display: flex;
	flex-direction: column;
}

.section_title {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 600;
	font-size: 4rem;
	line-height: 86px;
}

/* PUBLICATION */

#publications_container {
	/* 	border: solid pink 4px; */
	display: flex;
	flex-wrap: wrap;
	margin: 0px 20px;

}

.one_paper {
	width: 45%;
	/* Auto layout */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: 30px;
	margin: 10px;
	gap: 1rem;

	border: 1px dashed #000000;
	box-sizing: border-box;
}

.arxiv_code {
	/* text-align: right; */
}

.paper_controls {
	/* Auto layout */
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 600;
	font-size: 1.3rem;
}

.paper_controls div {
	box-sizing: border-box;
	padding: 0.2rem 1.1rem;
}

.paper_read_button {
	border: black solid 1px;
	background-color: black;
	color: white;
	margin-right: 0.6rem;
}

.paper_read_button:hover{
	border: black solid 1px;
	background-color: white;
	color: black;
}

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}

.paper_cite_button {
	border: black solid 1px;
	margin-left: 0.6rem;
}

.paper_title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
}

.paper_description {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	max-height: 15rem;
	overflow-y: scroll;
}

.paper_collaboration {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

.collaboration_gif {
	height: 2rem;
	margin-right: 0.8rem;
}

/* Interest section */

#interests_section_content {
	flex-grow: 1;
/* 	border: solid red 1px; */
	box-sizing: border-box;
	padding: 5rem;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;
}

#interests_section_content div{
	
}

#percolation_animation_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
}

.interests_section_content_text {
	
}

/* background section */

#background_section_container{
/* 	border: solid red 1px; */
	box-sizing: border-box;
	padding: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

#school_imgs {
/* 	border: solid green 1px; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 5rem;
}

#background_section_container img{
	height: 10rem;
}

/*Contact section*/

#contact_section_content {
	box-sizing: border-box;
	padding: 5rem;
	flex-grow: 1;
/* 	border: solid blue 1px; */
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
}

#profile_pic_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

#profile_pic {
	height: 20rem;
}

/* Utils */
.legend {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 0.5rem;
}

.narration_style {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
}

footer {
	padding: 3px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 200;
	font-size: 10px;
	color: color(srgb 0.794 0.794 0.794);
	text-align: center;
}